:root {
    --background: #7b59b9;
    --font: #ffffff;
    --hover_table: #906dcf;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: var(--background);
    color: var(--font);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color: black;
}

.navbar-inverse {
    background-color: #134095;
    border-color: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

a{
    color: white;
}

a:hover, a:focus {
    color: white;
    text-decoration: underline;
}

/* OPINION */
#buttonDelete{
    display: inline-block;
}

table.table_main tr:hover td {
    background-color: var(--hover_table);
}