@model IEnumerable<Library.Data.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
</div>
<ul>
    @foreach (var book in Model)
    {
        <li>
            @book.Name
        </li>
    }
</ul>
<h2>
    1. Details Book jak jest IsRental == true to powinnismy pokazywać komu zostało wypożyczone.
    Wiec powinnismy w controlerze dać inny model - stworzyc ViewModel, ktory ma dostep do danych z Rentals i przesłac go do View Details
    lub spróbować w Controlerze przekazac te parametry do widoku, bez  tworzenia nowego modelu
</h2>
