@model IEnumerable<Library.Data.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<h2>
    2. zaczać gdzieś zapisywać ten kod, który może się przydać - do zeszytu odniesienia, nazwa zdjęcia i opis jak to zrobiliśmy
</h2>

<h2>
    3. Do poprawnego odświeżenia strony po zmianie css należy na przeglądrace dac CTRL+R, build czy uruchomienie nowego serwera nic nie daje,
    bo przegladarka wciąz nie odświezyła plików które pobiera - problem z pamięcią podręczną przeglądarki
</h2>

<h2>
    4. Zrobić średnią ocen, nie robimy Edit i Details
    i segregować po najlepszych restauracjach według ocen jedzenia lub picia, alfabetycznie - sami wybieramy w jaki sposób

</h2>
