@model IEnumerable<Library.Data.Models.Book>
@{
    ViewBag.Title = "Home Page";
}
<h2> Info do projektu </h2>
<h4>
    2. zaczać gdzieś zapisywać ten kod, który może się przydać - do zeszytu odniesienia, nazwa zdjęcia i opis jak to zrobiliśmy
</h4>

<h4>
    3. Do poprawnego odświeżenia strony po zmianie css należy na przeglądrace dac CTRL+R, build czy uruchomienie nowego serwera nic nie daje,
    bo przegladarka wciąz nie odświezyła plików które pobiera - problem z pamięcią podręczną przeglądarki
</h4>

<h4>
    4. W index Restaurant zrobić model OpinionFormViewModel i tam dzieki temu segregować po najlepszych restauracjach według ocen jedzenia lub picia, alfabetycznie - sami wybieramy w jaki sposób
</h4>

<h4>
    5.W modelu Restaurant powinnismy miec srednia ocen, ktora aktualizuje sie przy dodaniu opini
</h4>

<h2> Frontend </h2>
<h4> Projekt na kartce </h4>

<h2> Kierunek i opis aplikacji </h2>
<h3> Opis </h3>
    <p>Aplikacja do zbierania informacji na temat domowych spraw, lub informacji o których szybko zapominamy </p>
    <p>Biblioteka, Wypożyczalnia Ksiażek</p> 
    <p>Restaurancje i Opinie związane z żarciem - pomoc przy wybieraniu co zamówić </p> 
    
   
<h3> Kierunek </h3>
<ul>
    <li><h4>spisac porady odnośnie zdrowia lub innych rzeczy o których sie zapomina, bo neistety tak juz jest (taka lista co nam przypomina w kóło o tym)- dbaj o kregosłup, ucz sie angielskiego </h4></li>
    <li><h4>Notatki związne z życiem codziennym - kup kapsułki do zmywarki, kable do telefonu,  </h4></li>
    <li><h4>Notatki związne ze stałymi datami - Kalendarz ??? - wymiana oleju, ubezpieczenie, itd </h4></li>
    <li><h4>Nasze cele - zakup suszarki, barek, taras </h4></li>
    <li><h4>Aplikacja domowa - wiec 1 użytkownik na cała rodzine - nalezy dodac osoby rodziny(List) - Tworzymy pole (WhoActive) a niej przypisujemy jednego członków domostwa z (List) jakie utworzy User
        Przy logowaniu wybieramy kto korzysta. Wtedy jak jest gdzien potrzebne kto to robił, lub dla kogo to mamy takie pole. Przyda sie nawet do wyswietlenia kto korzysta, a zawsze mozna dodać jakies statystyki dla Tych osob
        ale to chyba nei potrzebne nam w ogole
    </h4></li>
</ul>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

Zapisac -> Usunać
Update - Books